{% if events %}
    <div class="panel-group" id="event_list" role="tablist" aria-multiselectable="false">
    {% for event in events %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="event-item-header-{{ event.id }}">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#event_list" href="#event__{{ event.id }}" aria-expanded="true" aria-controls="event-item-{{ event.id }}">
                        {{ event.title }}
                    </a>
                </h4>
            </div>
            <div id="event__{{ event.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    {% if event.image %}
                        <img src="{{ event.image }}" alt="{{ event.title }}" class="pull-left" style="max-height: 100px;">
                    {% endif %}
                    <div>{{ event.content }}</div>
                    {% if event.links.all %}
                        <p>Ссылки:</p>
                        <ul>
                        {% for link in event.links.all %}
                            <li>
                                <a href="{{ link.href }}" target="{{ link.target }}">{{ link.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    <hr>
                    {{ event.pub_date|date:"d F, Y" }} | <a href="{% url 'event:detail' event.id %}">Подробнее</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    {% if is_paginated %}
    <div class="text-center">
        <ul class="pagination">
            {% for num in paginator.page_range %}
                {% ifequal num page_obj.number %}
                    <li class="active"><a>{{ num }}</a></li>
                {% else %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endifequal %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% else %}
    <div class="jumbotron">
        <h1>Ничего не найдено.</h1>
    </div>
{% endif %}
