{% if events %}
    <table class="table table-condensed table-hover table-striped event-list">
        <col width="60%">
        <col align="right">
    {% for event in events %}
        {% if event.active %}
            <tr class="event-item">
                <td>
                    <a href="{% url 'event:detail' event.id %}" class="event-title">{{ event.title }}</a>
                </td>
                <td>
                    <span class="event-date">{{ event.pub_date|date:"d F, Y" }}</span>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
{% else %}
    <h3>Ничего не найдено.</h3>
{% endif %}
