{% extends "base.html" %}

{% block content %}
    <article class="event detail" id="event_{{ event.id }}">
        <div>{{ event.content|safe }}</div>

        {% if event.links.all %}
            <div>Ссылки:</div>
            <ul>
            {% for link in event.links.all %}
                <li>
                    <a href="{{ link.href }}" target="{{ link.target }}">{{ link.title }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        <div class="event-date">Опубликовано: {{ event.pub_date|date:"d F, Y H:i" }}</div>
    </article>
{% endblock %}
