{% load i18n %}
<div class="competition-filter row">
    <div class="col-md-7">{% include "search-form.html" %}</div>
</div>
<div class="competition-list">
{% for competition in competitions %}
    <div class="media competition-item {{ competition.is_finished|yesno:'_finished,_active' }}" data-id="{{ competition.id }}">
        <div class="media-left">
            <a href="{{ competition.link }}" target="_blank">
                <img src="{{ competition.image }}" alt="Logo" class="media-object" style="width: 150px;">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading competition-title">
                <a href="{{ competition.link }}" target="_blank">{{ competition.title }}</a>
            </h4>
            <div class="competition-date">
                {{ competition.start_date|date }} &mdash; {{ competition.finish_date|date }}
                {% if competition.is_finished %}(<strong>{% trans "finished" %}</strong>){% endif %}
            </div>
            {% if not competition.is_finished %}
                <div class="competition-date">{% trans "Remaining" %} {{ competition.finish_date|timeuntil }}</div>
            {% endif %}
            <div class="competition-details">
                <div class="competition-description">{{ competition.content|safe }}</div>
                {% if competition.material_set.count %}
                    <div class="competition-materials">
                        <h5>{% trans "Materials" %}:</h5>
                        <ul>
                        {% for material in competition.material_set.all %}
                            <li>
                                {% if material.article %}
                                    <a href="{{ material.article }}" target="_blank">{{ material.title }}</a>
                                {% else %}
                                    <span>{{ material.title }}</span>
                                {% endif %}
                                {% if material.video or material.slides %}
                                    <div class="btn-group">
                                    {% if material.video %}
                                        <a class="btn btn-default btn-xs" href="{{ material.video }}" target="_blank">
                                            <i class="glyphicon glyphicon-facetime-video"></i>
                                        </a>
                                    {% endif %}
                                    {% if material.slides %}
                                        <a class="btn btn-default btn-xs" href="{{ material.slides }}" target="_blank">
                                            <i class="glyphicon glyphicon-picture"></i>
                                        </a>
                                    {% endif %}
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% empty %}
    <div class="jumbotron">
        <h1>{% trans "Oops, no competitions found" %}</h1>
    </div>
{% endfor %}
</div>

{% if is_paginated %}
<div class="text-center">
    <ul class="pagination">
        {% for num in paginator.page_range %}
            {% ifequal num page_obj.number %}
                <li class="active"><a>{{ num }}</a></li>
            {% else %}
                <li><a href="?{{ request.META.QUERY_STRING }}&page={{ num }}">{{ num }}</a></li>
            {% endifequal %}
        {% endfor %}
    </ul>
</div>
{% endif %}
