{% load i18n %}
{% if competitions %}
    <table class="table table-condensed table-hover table-striped competition-list">
        <col width="60%">
        <col align="left">
    {% for competition in competitions %}
        {% if competition.active %}
            <tr class="competition-item">
                <td>
                    <a href="{% url 'competition:detail' competition.id %}" class="competition-title">{{ competition.title|title }}</a>
                </td>
                <td>
                    <span class="competition-date">{{ competition.start_date|date:'SHORT_DATE_FORMAT' }}</span> &mdash; <span class="competition-date">{{ competition.finish_date|date:'SHORT_DATE_FORMAT' }}</span>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
{% else %}
    <h3>{% trans "Oops, no competitions found" %}</h3>
{% endif %}
