{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div>
    <h2>{% trans "Create new competition" %}</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="form-group {{ field.errors|yesno:'has-error,' }}">
                <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="help-block">{{ error }}</div>
                    {% endfor %}
                {% elif field.help_text %}
                    <div class="help-block">{{ field.help_text }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="btn-group">
            <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
            <button type="reset" class="btn btn-default">{% trans "Reset" %}</button>
        </div>
    </form>
</div>
{% endblock %}
