div {
    position: relative;
}

/**********
 * Search *
 **********/

.search-preview {
    min-width: 100%;
    top: 100%;
}

.search-form a[data-type = checkbox].checked {
    background-color: #5b80b2;
}

/************************
 * List of Competitions *
 ************************/

.competition-item,
.competition-detail {
    margin: 0;
    padding: 10px 5px;
}

.competition-item {
    border-left: 3px solid transparent;
}

.competition-item._active {
    border-left-color: lightblue;
}

.competition-item:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.competition-item:hover {
    background-color: #edecd6;
}

.competition-details {
    margin-top: 10px;
}

.competition-filter {
    margin-bottom: 10px;
}

/**********
 * Footer *
 **********/

footer {
    margin-bottom: 20px;
}
