{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {{ title|default:'Тренировки ML' }}
        {% if title %}
            {{ ' | Тренировки ML' }}
        {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="Тренировки по Машинному обучению, анализ данных, разбор решений соревнований на Kaggle.">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Тренировки ML</h1>
            <p class="lead">Тренировки и разбор соревнований по анализу данных. <br/>
                <a href="https://www.facebook.com/groups/1413405125598651/1726705587601935/" target="_blank">Facebook</a>, <a href="https://www.youtube.com/channel/UCeq6ZIlvC9SVsfhfKnSvM9w" target="_blank">YouTube</a>
            </p>
        </div>

        {% block content %}

        {% endblock %}
    </div>
</body>
</html>
