{% load static %}
{% load i18n %}
{% get_current_language as lang %}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title|default:TITLE }}{% if title %}{{ ' | ' }}{{ TITLE }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="{% trans DESCRIPTION %}">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <a href="{% url 'competition:index' %}"><h1>{{ TITLE }}</h1></a>
            <p class="lead">{{ DESCRIPTION }}</p>
            <p>
                <a href="https://www.facebook.com/groups/1413405125598651/1726705587601935/" target="_blank">{% trans "Facebook" %}</a>,
                <a href="https://www.youtube.com/channel/UCeq6ZIlvC9SVsfhfKnSvM9w" target="_blank">{% trans "YouTube" %}</a>
                <span class="pull-right"><a href="https://docs.google.com/forms/d/1G7j55KHLexuBX3k0he_19CuKMvnGgss8aFEvy3LGNwo/viewform" target="_blank">{% trans "Notify about the competition" %}</a></span>
            </p>
        </div>

        {% block content %}{% endblock %}

        <hr>

        <footer class="row">
            <div class="col-sm-6">{{ TITLE }} &mdash; {% now 'Y' %}</div>
{#            <div class="col-sm-6">{% include "form-choose-lang.html" %}</div>#}
        </footer>
    </div>

    {% include 'analytics.html' %}

    <script src="//code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static 'js/search.js' %}"></script>
    <script src="{% static 'js/competitions.js' %}"></script>
    <script src="{% static 'js/i18n.js' %}"></script>
</body>
</html>
