{% extends "base.html" %}

{% block content %}
<div class="row">

    <!-- SNA Хакатон -->
    <div class="media">
        <div class="media-left">
            <a href="http://www.snahackathon.org/">
                <img height="100" class="media-object" src="//pp.vk.me/c633521/v633521361/12e88/OxKFOGS9uBw.jpg" alt="SNA Хакатон 2016">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">SNA Хакатон 2016</h4>
            <a href="http://www.snahackathon.org/">Сайт соревнования</a>

            <ul>
                <li>
                    <a href="https://www.kaggle.com/klunev">Кирилл Лунев</a>, <a href="https://www.kaggle.com/romario">Роман Халкечев</a> <br/>
                    <a href="https://youtu.be/huE7OEOESng">видео</a>, слайды
                </li>
                <li>
                    Вячеслав Мурашкин <br/>
                    <a href="https://youtu.be/ZCzl-a6y8nQ">видео</a>, слайды
                </li>
            </ul>
        </div>
    </div>


    <!-- Yelp -->
    <div class="media">
        <div class="media-left">
            <a href="https://www.kaggle.com/c/yelp-restaurant-photo-classification" target="_blank">
                <img height="100" class="media-object" src="//kaggle2.blob.core.windows.net/competitions/kaggle/4829/logos/front_page.png" alt="Kaggle Competition: Yelp Restaurant Photo Classification">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Kaggle: Yelp Restaurant Photo Classification</h4>
            <a href="https://www.kaggle.com/c/yelp-restaurant-photo-classification">Соревнование</a> | <a href="https://www.kaggle.com/c/yelp-restaurant-photo-classification/leaderboard">Лидерборд</a>

            <ul>
                <li>
                    <a href="https://www.kaggle.com/zimovnov">Андрей Зимовнов</a> <br/>
                    <a href="https://youtu.be/6EoFq0NaiO8">видео</a>, слайды
                </li>
            </ul>
        </div>
    </div>


    <!-- Баскетбол -->
    <div class="media">
        <div class="media-left">
            <a href="https://www.kaggle.com/c/march-machine-learning-mania-2016">
                <img height="100" class="media-object" src="//kaggle2.blob.core.windows.net/competitions/kaggle/4862/logos/front_page.png" alt="Kaggle competition: March Machine Learning Mania 2016">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Kaggle: March Machine Learning Mania 2016</h4>
            <a href="https://www.kaggle.com/c/march-machine-learning-mania-2016">Соревнование</a> | <a href="https://www.kaggle.com/c/march-machine-learning-mania-2016/leaderboard">Лидерборд</a>

            <ul>
                <li>
                    <a href="https://www.kaggle.com/ciroel">Антон Смердов</a> <br/>
                    <a href="https://youtu.be/w0xcVXevv8c">видео</a>, слайды
                </li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}
