<form class="input-group search-form" method="get" action="{% url 'competition:search' %}">
    <input
        type="text"
        name="q"
        class="form-control search-input"
        placeholder="Поиск"
        autocomplete="off"
    >
    <div class="input-group-btn">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle search-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-cog"></i></button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#" class="for-actual" data-type="checkbox"><input type="checkbox" name="actual" class="hidden" /> Показать активные?</a></li>
            </ul>
        </div>

        <button type="submit" class="btn btn-default">
            <i class="glyphicon glyphicon-search"></i>
        </button>
    </div>
</form>
<div class="search-preview popover bottom">
    <div class="arrow"></div>
    <h3 class="popover-title">Результаты поиска</h3>
    <div class="popover-content"></div>
</div>
